[Unit]
Description=Update Threat Intel Prometheus textfile metrics
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ti_to_prom.py
User=root
Group=root

[Install]
WantedBy=multi-user.target
